@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins"; /* Set your desired font family */
}
.app-container {
  /* Light grayish-blue, adjust as needed */
  min-height: 100vh; /* Ensure background color covers full viewport height */

  box-sizing: border-box;
}
